@using NHS111.Utils.DispositionLogics
@model NHS111.Models.Models.Web.OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutOutcome.cshtml";
}
<div class="site" id="OutcomeOne">
    <div id="ProgressBar">
        <ul>
            <li class="firstChild"><span class="left">01 What's wrong </span> <img src="~/content/images/icons/breadcrumbOne.png" alt="" class="right"></li>
            <li class="secondChild"><span class="left">02 Tell us more </span><img src="~/content/images/icons/breadcrumbTwo.png" alt="" class="right"></li>
            <li class="lastChild"><span class="left">03 YOU ARE HERE . Next steps </span></li>
        </ul>
    </div>


    <div id="ContentWrapper">
        
    <div id="ProgressEnds">
            <div id="progressWrapper">
                <div class="meter nhsBlue">
                    <span class="p100"></span>
                </div>
                <span class="guideText">100% complete!</span>
            </div>
     </div>


        <div id="SubHeadWrapper">
            <section>
                <div class="headImage thirty">
                    <!--<img src="~/content/images/icons/outcomeHeader.png" alt="" class="left">-->
                    &nbsp;
                </div>
                <div class="headText seventy">
                    <h2>Thank you!</h2>
                    @if (Grouping.One.Contains(Model.Id))
                    {
                        <h3>From your answers, it appears you can @Html.Raw(Model.Title.ToLower()).</h3>
                    }
                    @if (Grouping.Two.Contains(Model.Id) || Grouping.Three.Contains(Model.Id))
                    {
                        <h3>From your answers, we recommend you @Html.Raw(Model.Title.ToLower()).</h3>
                    }
                </div>
                <div>
                    @if (Grouping.Three.Contains(Model.Id))
                    {
                        <h2>Please contact your Midwife in the next hour</h2>
                    }
                </div>
            </section>
        </div>

        <div id="OutcomeQuestion" class="findEmergency">
            <img src="~/content/images/icons/blueArrow.png" class="arrowDown" alt="">
            <section>

                @if (Model.CareAdvices.Any())
                {
                    <h3>Self care advice for your symptoms</h3>

                    <p>
                        @{
                            var excludeTitles = Model.CareAdvices.Select(careAdvice => careAdvice.ExcludeTitle).Where(title => !string.IsNullOrEmpty(title)).ToList();
                            var includeCareAdvice = Model.CareAdvices.Where(careAdvice => !excludeTitles.Contains(careAdvice.Title));
                        }

                        @foreach (var careAdvice in includeCareAdvice)
                        {
                            <p><strong>@Html.Raw(careAdvice.Title)</strong></p>
                            <ul>
                                @foreach (var item in careAdvice.Items)
                                {
                                    <li>@Html.Raw(item)</li>
                                }
                            </ul>
                        }
                    </p>

                }
                @if (Grouping.Two.Contains(Model.Id))
                {
                    using (Html.BeginForm("ServiceDetails", "Outcome", FormMethod.Post))
                    {
                        @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)

                        <h3>Would you like us to find your nearest<br> emergency treatment centre?</h3>
                        @Html.Partial("_PostCodeSearch", Model.AddressSearchViewModel)
                    }
                }
                @using (Html.BeginForm("Navigation", "Question", FormMethod.Post))
                {
                    @Html.Partial("_CommonHiddenFieldsOutcomeViewModel", Model)

                    <input class="textLink" type="submit" name="PreviousQuestion" value="Change my answers." />

                }
            </section>
        </div>


    </div> <!--/ContentWrapper-->


    <div id="FooterWrapper">
        <footer>
            <!-- Copyright information -->

        </footer>
    </div>

</div> <!-- /site -->