@model NHS111.Models.Models.Web.OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutOutcome.cshtml";
}
<div class="site" id="NoOutcome">
    <div id="ProgressBar">
        <ul>
            <li class="firstChild"><span class="left">01 What's wrong </span> <img src="../../content/images/icons/breadcrumbOne.png" alt="" class="right"></li>
            <li class="secondChild"><span class="left">02 Tell us more </span><img src="../../content/images/icons/breadcrumbTwo.png" alt="" class="right"></li>
            <li class="lastChild"><span class="left">03 YOU ARE HERE . Next steps </span></li>
        </ul>
    </div>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => Model.Id)
        @Html.HiddenFor(x => Model.JourneyJson)
        @Html.HiddenFor(x => Model.PathwayId)
        @Html.HiddenFor(x => Model.PathwayNo)
        @Html.HiddenFor(x => Model.SymptomGroup)
        @Html.HiddenFor(x => Model.UserInfo.Age)
        @Html.HiddenFor(x => Model.UserInfo.Gender)
        @Html.HiddenFor(x => Model.SymptomDiscriminator)
        @Html.HiddenFor(x => Model.Title)


        @Html.HiddenFor(x => Model.UserInfo.FirstName)
        @Html.HiddenFor(x => Model.UserInfo.LastName)
        @Html.HiddenFor(x => Model.UserInfo.DoB)
        @Html.HiddenFor(x => Model.UserInfo.TelephoneNumber)

        <div id="ContentWrapper">
            <div id="SubHeadWrapper">
                <section>
                    <h2>Self care : @Html.Raw(Model.PathwayTitle)</h2>
                </section>
            </div>

            <div id="OutcomeContent">
                <img src="../../content/images/icons/blueArrow.png" class="arrowDown" alt="">
                <section>
                    <img src="../../content/images/headacheBanner.png" class="outcomeBanner" alt="Outcome Banner">
                    <div class="outcomeResults">
                        <p>Call NHS 111 for a further assessment if:</p>

                        <ul>
                            <li> your symptoms change or get worse</li>
                            <li> you develop any new symptoms </li>
                            <li> you have any further concerns </li>
                        </ul>

                        <p> It's free from <br>any landline or mobile phone</p>

                    </div> <!--/outcomeResults-->

                    <div class="lineShadow">&nbsp;</div>

                    <div class="generalAdvice">
                        @if (Model.CareAdvices.Any())
                        {

                            <p>
                                @{
                            var excludeTitles = Model.CareAdvices.Select(careAdvice => careAdvice.ExcludeTitle).Where(title => !string.IsNullOrEmpty(title)).ToList();
                            var includeCareAdvice = Model.CareAdvices.Where(careAdvice => !excludeTitles.Contains(careAdvice.Title));
                                }
                                @foreach (var careAdvice in includeCareAdvice)
                                {
                                <p><strong>@Html.Raw(careAdvice.Title)</strong></p>
                                    <ul>
                                        @foreach (var item in careAdvice.Items)
                                        {
                                            <li>@Html.Raw(item)</li>
                                        }
                                    </ul>
                                }
                                </p>

                        }
                    </div>
                </section>
            </div> <!--/OutcomeContent-->
        </div>
    <!--/ContentWrapper-->
        <div id="FooterWrapper">
            <footer>
                <!-- Copyright information -->
            </footer>
        </div>
    }
</div> <!-- /site -->