@model NHS111.Models.Models.Web.OutcomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutOutcome.cshtml";
}
<script src="~/content/Js/vendor/spin.min.js"></script>
<link rel="stylesheet" href="~/content/styles/vendor/jquery-ui.css">


@using (Html.BeginForm("ServiceDetails", "Outcome", FormMethod.Post))
{

    @Html.HiddenFor(x => Model.Id)
    @Html.HiddenFor(x => Model.JourneyJson)
    @Html.HiddenFor(x => Model.PathwayId)
    @Html.HiddenFor(x => Model.PathwayNo)
    @Html.HiddenFor(x => Model.SymptomGroup)
    @Html.HiddenFor(x => Model.UserInfo.Age)
    @Html.HiddenFor(x => Model.UserInfo.Gender)
    @Html.HiddenFor(x => Model.SymptomDiscriminator)
    @Html.HiddenFor(x => Model.Title)
    @Html.HiddenFor(x => Model.UserId)

    <div class="site" id="PersonalDetails">
        <div id="ProgressBar">
            <ul>
                <li class="firstChild"><span class="left">01 What's wrong </span> <img src="../../content/images/icons/breadcrumbOne.png" alt="" class="right"></li>
                <li class="secondChild"><span class="left">02 Tell us more </span><img src="../../content/images/icons/breadcrumbTwo.png" alt="" class="right"></li>
                <li class="lastChild"><span class="left">03 YOU ARE HERE . Next steps </span></li>
            </ul>
        </div>
        <div id="ContentWrapper">
            <div id="SubHeadWrapper">
                <section>
                    <h2><!--<span class="roundNumbers">1</span>--> Find a healthcare provider</h2>
                    <p>Please provide these details so we can find you an available healthcare provider</p>
                </section>
            </div>
            <div id="AboutYou">
                <img src="../../content/images/icons/blueArrow.png" class="arrowDown" alt="">
                <section>
                    <div id="FormWrapper">
                        
                        <div class="row">
                            <h3>About you</h3>
                        </div>
                        <div class="row large">
                            <label>
                                <span>First name</span>
                                @Html.TextBoxFor(x => x.UserInfo.FirstName, new { @placeholder = "First name", @class = "example", @Value="John" })
                            </label>
                        </div>
                        <div class="row large">
                            <label>
                                <span>Last name</span>
                                @Html.TextBoxFor(x => x.UserInfo.LastName, new { @placeholder = "Last name", @Value = "Blue" })
                            </label>
                        </div>
                        <div class="row" id="DOB">
                            <label>
                                <span>Date of birth</span>
                                @Html.TextBoxFor(x => x.UserInfo.Day, new { @placeholder = "dd", @class = "dd", @Value = "05" })
                                @Html.TextBoxFor(x => x.UserInfo.Month, new { @placeholder = "mm", @class = "mm", @Value = "08" })
                                @Html.TextBoxFor(x => x.UserInfo.Year, new { @placeholder = "yyyy", @class = "yy", @Value = "1970" })
                            </label>
                        </div>
                        <div class="row">
                            <h3>Your contact information</h3>
                        </div>
                        <div class="row medium">
                            <label>
                                <span>Contact number</span>
                                @Html.TextBoxFor(x => x.UserInfo.TelephoneNumber, new { @placeholder = "Contact number", @Value = "020334455677" })
                            </label>
                        </div>
                        <div class="row medium">
                            <label>
                                <span>Email address</span>
                                @Html.TextBoxFor(x => x.UserInfo.Email, new { @placeholder = "Email address", @Value = "john.blue@gmail.com" })
                            </label>
                        </div>
                        <div class="row sectionHead">
                            <p class="title">Home address</p>
                        </div>
                         
                        @Html.Partial("_PersonalPostCodeSearch", Model.AddressSearchViewModel)

                        @Html.Partial("_AddressDetails", Model)
                       
                        @Html.Partial("_GpSearch",Model)

                        <div class="row" id="enableDisable">
                            <input type="submit" class="button nextPage" name="DosResults" id="Next" value="Find available healthcare providers">
                        </div>

                    </div> <!--/FormWrapper-->
                </section>
            </div> <!--/AboutYou-->
        </div> <!--/ContentWrapper-->
        <div id="FooterWrapper">
            <footer>
                <!-- Copyright information -->

            </footer>
        </div>
    </div> <!-- /site -->

}